node_modules/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties

# Gradle
.gradle/

# Metro
.metro-health-check*

# IDE
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db